<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlipperDeck.user_events" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FlipperDeck.user_prefs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlipperDeck.user_events>
            <setting name="up_button_pressed_event_set" serializeAs="String">
                <value />
            </setting>
            <setting name="up_button_pressed_event_context" serializeAs="String">
                <value />
            </setting>
            <setting name="up_button_held_event_set" serializeAs="String">
                <value />
            </setting>
            <setting name="up_button_held_event_context" serializeAs="String">
                <value />
            </setting>
        </FlipperDeck.user_events>
        <FlipperDeck.user_prefs>
            <setting name="baud_rate" serializeAs="String">
                <value>115200</value>
            </setting>
        </FlipperDeck.user_prefs>
    </userSettings>
</configuration>